.nav-menu {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-menu li {
    padding: 10px;
}

.nav-menu li a {
    text-decoration: none;
    color: #333;
    transition: all 0.2s ease-in-out;
}

.nav-menu li a:hover {
    color: #ff5500;
}
.subsection-performance-headline {
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    direction: ltr;
    quotes: "« " " »";
    font-size: 20px;
    line-height: 1.0834933333;
    letter-spacing: -0.003em;
    font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    margin-top: 4px;
    color: #9d44fd;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    padding-bottom: 5px;
    margin-bottom: -5px;
    background-image: linear-gradient(45deg, #ff9fe1, #9d44fd 50%, #8727ff);
}

.button-main {
    font-size: 17px;
    line-height: 1.1764805882;
    font-weight: 400;
    letter-spacing: -0.022em;
    font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    min-width: 26px;
    color: #1d1d1f;
    background: none;
    border: 2px solid #1d1d1f;
    min-width: 97px;
    padding: 8px 16px;
    margin-top: .8em;
    cursor: pointer;
    display: inline-block;
    border-radius: 980px;
}